.Song-Info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  height: 100px;
  margin-bottom: 50px;
  @include bottom-border;
  .song-title-image-hold {
    display: flex;
    justify-content: center;
    align-items: center;
    .song-image {
      height: 100px;
    }
    .song-text-hold {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 15px;
      height: 100%;
      .song-title {
        font-size: 2.5rem;
        font-weight: 700;
      }
      .song-link {
        font-size: 1.2rem;
      }
    }
  }
}
