.Stats {
  @include main-content-reset;
}

.chart-hold {
  height: 25vw;
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  div {
    position: relative;
    z-index: 0;
  }
}

.large-chart-hold {
  height: 25vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.large-square-chart-hold {
  height: 33vw;
  width: 33vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chart-label {
  padding: 15px;
  font-size: 1.4rem;
  text-align: center;
}
.stats-section {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  .stats-section-header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: underline;
  }
}

.custom-tooltip {
  background: rgba(255, 255, 255, 0.9);
  max-width: 250px;
  padding: 20px;
  .data {
    font-size: 1.2rem;
    padding-bottom: 5px;
    font-weight: 700;
  }
  .label {
    font-weight: 500;
    line-height: 115%;
  }
  .intro {
    padding-bottom: 5px;
  }
  .common-list {
    list-style-type: square;
    list-style-position: inside;
    li {
      padding: 2px 0;
    }
  }
}
